* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Poppins", sans-serif;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  /* background-color: red; */
}
.header {
  /* position: absolute; */
  width: 100%;
  height: 70px;
  /* left: 0px;
  top: 0px; */

  /* background-color: red; */
  /* border-radius: 0px; */
}
.for_bg_color {
  background: #f8fbfb;
  /* z-index: -1; */
}
.logo img {
  width: 200px;
  left: 114px;
  top: 18px;
}
.btn {
  background: linear-gradient(90deg, #00b0c6 -13.32%, #356af3 105.84%);
  border-radius: 13px;
  width: 80px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  margin-right: 143px;
}
#MenuItems {
  display: flex;
}
li {
  list-style: none;
  padding: 10px;
}
.tiledBackground {
  background-image: url("/img/Vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1200px;
  height: 100%;
  /* background-color: red; */
  /* border: 2px solid; */
  /* color: pink; */
  /* z-index: -1; */
  position: absolute;
  top: 250px;
}
.section_one {
  display: flex;
  /* gap: 200px; */
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  /* background: #f8fbfb; */
}
.section_one_right {
  position: relative;
  width: 300px;
  height: 300px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-right: 40px;
}
.hero_image {
  width: 100%;
}
.section_info {
  width: 350px;
  font-size: 30px;
}
.section_info h3 {
  font-weight: 100;
  line-height: 35px;
}
.info_two {
  width: 300px;
}

.info_btn button {
  padding: 10px 20px 10px 20px;
  background: linear-gradient(90deg, #ffdb00 -13.32%, #ff8900 105.84%);
  border-radius: 18px;
  border-style: none;
}
.section_one_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.market_view-top {
  display: flex;
}
.market_view-bottom {
  width: 50px;
}
.market_view-bottom img {
  width: 900px;
}
.market_view {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
.market_view_top_content {
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  /* background-color: red; */
  border: 1px solid rgb(230, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* secton two */

.section_two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.section_two_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  /* border: 1px solid black; */
  /* padding: 10px; */

  width: 50%;
}
.feture {
  border: 1px solid #f8fbfb;
  padding: 15px 20px 15px 20px;
  border-radius: 10px 10px 10px 10px;
  background: #f8fbfb;
  display: flex;
}
.feature_pic {
  width: 20px;
  height: 15px;
  position: relative;
  padding-right: 70px;
}
.feature_para {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 60px;
  position: relative;
}
.feature_para h5 {
  margin-bottom: 80px;
  display: flex;
}
.feature_para p {
  display: flex;
  padding-right: 40px;
  align-items: flex-start;
}
.section_three {
  display: flex;
  /* gap: 200px; */
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 80px;
  margin-top: 100px;
  position: relative;
}
.desc {
  display: flex;
}
.desc_head {
  display: flex;
  width: 280px;
  font-size: 20px;
}
.desc_head h1 {
  display: flex;
  font-weight: 80;
  line-height: 25px;
}
.desc_para p {
  display: flex;
  width: 500px;
  margin-top: 10px;
  padding-right: 50px;
  justify-content: flex-start;
}
.section_three_pic img {
  display: flex;
  width: 400px;
}
.section_four_container {
  width: 1260px;
  height: 900px;

  background: linear-gradient(90deg, #00b0c6 -13.32%, #356af3 105.84%);
}

.section_four_container_desc_head {
  display: flex;
}
.section_four_container_desc_head h1 {
  display: flex;
  padding-left: 100px;
  padding-top: 80px;
  color: #fff;
  width: 512px;
  line-height: 35px;
}
.section_four_container_desc_para p {
  display: flex;
  color: #fff;
  width: 900px;
  line-height: 25px;
  padding-left: 100px;
  padding-top: 50px;
}
.section_four_container_desc_box {
  /* border: 10px solid #fff; */
  display: flex;
  width: 250px;
  height: 350px;
  background-color: #f8fbfb;
  border-radius: 30px;
  margin-left: 100px;
  margin-top: 10px;
  position: relative;
}
.section_four_container_box {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 375px;
  /* left: 135px;
  top: 2204px; */
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(209, 209, 209, 0.28);
  border-radius: 30px;
  margin-left: 90px;
  margin-top: 30px;
  padding: 10px;
}

.section_four_container_box_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_four_container_box_logo img {
  width: 60px;
  height: 60px;
  display: flex;
  margin-top: -30px;
}

/* .section_four_container_pic img{
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
} */
.section_four_container_box_model {
  display: flex;
  margin-top: 25px;
}
.section_four_container_box_para {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.section_four_container_box_para h3 {
  font-weight: 100;
  font-size: 27px;
}
.section_for_container_right {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px;
}
.section_for_container_right img {
  width: 40%;
  height: 250px;
  align-self: flex-end;
  margin-right: 300px;
}
.section_for_container_right_cards {
  display: flex;
  margin-top: 20px;
}
.section_for_container_right_card {
  display: flex;
  box-sizing: border-box;
  width: 250px;
  height: 100px;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 18px;
  margin-left: 40px;
}
.section_for_container_right_card_img {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  align-items: center;
  width: 50px;
}

.section_for_container_right_card_img img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.section_for_container_right_card_para {
  display: flex;
  /* width: 155px; */
  font-size: 12px;
  align-items: center;
}

/*section fives */
.section_five_container {
  width: 1260px;
  height: 680px;

  background: #fbfbfb;
}
.section_five_clap {
  display: flex;
  margin-left: 165px;
  margin-top: 130px;
}
.section_five_testinomial {
  display: flex;
  width: 166px;
  height: 37px;

  background: #e3f8fa;
  border-radius: 11px;
  margin-top: 50px;
  margin-left: 138px;
}
.section_five_testinomial p {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: lightskyblue;
}
.section_five_head {
  display: flex;
  margin-left: 138px;
  margin-top: 30px;
}
.section_five_head p {
  width: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.77px;
  color: #16252e;
}
.section_five_para {
  display: flex;
}
.section_five_para p {
  width: 400px;
  margin-left: 138px;
  margin-top: 30px;
}
.section_five_btn {
  display: flex;
  width: 135px;
  height: 40px;
  background: linear-gradient(90deg, #00b0c6 -13.32%, #356af3 105.84%);
  border-radius: 13px;
  margin-left: 138px;
  margin-top: 30px;
}
.section_five_btn a {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 10px;
  color: #fff;
}
.section_six_container {
  display: flex;
  width: 1260px;
  height: 680px;

  background: #fbfbfb;
}
.section_six_box {
  width: 1000px;
  height: 500px;
  padding: 50px;
  margin-left: 130px;
  background: linear-gradient(111.16deg, #fc573b 43.12%, #ff8900 93.26%);
  border-radius: 48px;
}
.section_six_box_left {
  display: flex;
}
.section_six_box_left_head h1 {
  display: flex;
  width: 100px;
  color: #fff;
}
.section_six_box_left_para {
  display: flex;
  width: 324px;
  color: #fff;
}
.section_six_box_right {
  display: flex;
  margin-bottom: 100px;
}
.section_six_box_right_pic {
  display: flex;
  margin-bottom: 10px;
}
.section_six_box_right_pic img {
  display: flex;
  margin-bottom: 10px;
}
.section_six_box_right_two {
  display: flex;
}
.section_six_box_right_two_head {
  display: flex;
  color: #fff;
  width: 100px;
  margin-top: 50px;
}
.section_seven{
  display: flex;
  margin-top: 210px;
}
.section_seven_container{
  display: flex;
  width: 1260px;
  height: 400px;
  background: #2D2D2D;
}
.section_seven_head{
  display: flex;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
  width: 256px;
  margin-top: 100px;
  margin-left: 100px;
}
.section_seven_para{
  display: flex;
  margin-top: 210px;
  margin-right: 200px;
  color: #fff;

}
.section_seven_para img{
  display: flex;
  width: 20px;
  height: 20px;
}
.section_eight{
  display: flex;
}
.section_eight_container{
  display: flex;
  width: 1260px;
  height: 70px;
  background: #141414;
}
.section_eight_desc{
  display: flex;
  color: #fff;
  padding: 30px;
  font-size: 10px;
  margin-left: 90px;
}
.section_eight_desc_one{
  display: flex;
  color: #b3acac;
  padding: 30px;
  font-size: 10px;
  margin-left: 90px;
  flex-direction: row;
}
